/* GENERAL SETTING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  height: 100vh;

}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* LAYOUT */
.container {
  width: 80%;
  border: 2px solid red;
  margin: 10rem auto ;
  border-radius: 1rem;
}
.grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: 30% 1fr;
}
.main-img {
    overflow: hidden;

}
